// Colors
$c-primary: #432b4f;
$c-secondary: #ea6d77;
$c-white: #fff;
$c-black: #000;
$c-text: #2A3236;
$c-bg: #f8f9fc;
$c-border: #e9e9e9;
$c-border-search: #e6ecf5;
$c-border-input: #ccc;
$c-active-bg: #f3f5f9;
$c-bg-hover: rgba($c-active-bg, 0.8);
$c-shadow: rgba($c-black, 0.4);
$c-haze: rgba($c-white, 0.4);

// Derived Colors
$c-primary-pop: #7f5396;
$c-primary-recessed: #35223f;

// Measures
$m-gutter: 1rem;
$m-border-radius: 0.4rem;
$m-border-radius-sm: 0.2rem;
$m-content-max-width: 70rem;

@import 'reset';
@import 'layout';
@import 'helpers';
@import 'elements/button';
@import 'elements/form';
@import 'layouts/welcome-page';
@import 'layouts/panel';
@import 'layouts/slide-out';
@import 'layouts/modal';
@import 'components/main-nav';
@import 'components/collection';
@import 'components/review';
@import 'components/book';
// @import "bulma";

.panel-block > .level {
  width: 100%;
}

.liquid-container {
  transform: none;
}
